@model IEnumerable<Cube_4.models.Article>

@{
    ViewData["Title"] = "Articles";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cube_4.models.User> SignInManager
@inject UserManager<Cube_4.models.User> UserManager

<h1>Articles</h1>

<p>
    <a asp-action="Create">Ajouter un Article</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Famille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Famille.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur.Nom)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> <span> | </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> 
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <span> | </span>
                    <a asp-action="DeleteArticle" asp-route-id="@item.Id">Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
