@model IEnumerable<Cube_4.models.Commande>

@{
    ViewData["Title"] = "Commandes";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cube_4.models.User> SignInManager
@inject UserManager<Cube_4.models.User> UserManager
@if (!SignInManager.IsSignedIn(User) || !User.IsInRole("Admin")){
    <p>Accès refusé</p>
}else{
<h1>Commandes</h1>

<p>
    <a asp-action="Create">Passer une commande</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                Utilisateur
            </th>
            <th>
                Commande Fournisseur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFournisseur)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="DeleteCommand" asp-route-id="@item.Id">Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
}