@model IEnumerable<Cube_4.models.Famille>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cube_4.models.User> SignInManager
@inject UserManager<Cube_4.models.User> UserManager

<h1>Familles</h1>

<p>
    <a asp-action="Create">Ajouter une famille</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> <span> | </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> 
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <span> | </span>
                    <a asp-action="DeleteFamille" asp-route-id="@item.Id">Supprimer</a>
                }
             </td>
        </tr>
}
    </tbody>
</table>
